@using OnlineShop.Models;
@model IEnumerable<OnlineShop.Models.SpecialTags>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Special Tag List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;New Tag Name</a>
    </div>

    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression: c => c.TagName)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TagName</td>
                <partial name="_TagButtonPartial" model="@item.Id"/>
            </tr>
        }
    </table>
</div>

